/*homepage css*/
.hpt1{
    text-align: center;
    color: #272343;
}
.hpt2{
    text-align: center;
    color: #272343;
}
header{
    background-color: #ffd803;
    margin: 0px;
    max-width: 100%;
}

