/*Pages menu*/
.hpt1{
    text-align: center;
    color: #272343;
    margin: 0;
    background-color: #ffd803;
    margin: 0;
    font-weight: bolder;
}
.hpt2{
    text-align: center;
    color: #272343;
}
header{
    background-color: #ffd803;
    background-size: cover;
    margin: 0%;
}
body{
    padding: 0%;
    margin: 0%;
}
ul.nav   {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
ul.nav li{
    display: inline;
    margin-right: 100px;
    border: solid gray;
    padding: 10px;
}
ul.nav li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0px;
    background-size: cover;
}
body {
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}
.hpa2{
    margin-left: 10px;
    margin-bottom: -10px;
}
.aboutusdesc{
    margin-right: 1000px;
    text-align: left;
    margin-left: 10px;
}
/*Pages menu*/