/*Pages menu*/
.hpt1{
    text-align: center;
    color: #272343;
    margin: 0;
    background-color: #ffd803;
    margin: 0;
}
.hpt2{
    text-align: center;
    color: #272343;
}
header{
    background-color: #ffd803;
    background-size: cover;
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
}
body{
    padding: 0%;
    margin: 0%;
}
ul.nav   {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.nav li{
    display: inline;
    margin-right: 5px;
    border: solid gray;
}
ul.nav li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0px;
    background-size: cover;
}
body {
    padding: 0%;
    margin: 0%;
}
/*Pages menu*/